
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}
h4{
    font-size: 20px;
    color: #222;

}
h6{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: .2s;

}
button.boder{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 30px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #000000;
    transition: .2s;

}
button.new{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 30px;
    color: #2f2d2f;
    background-color: rgb(225, 125, 125);
    cursor: pointer;
    border: 2px solid #c8e6ed;
    transition: .2s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
body{
    width: 100%;
    
}

/*header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #252424;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header h3{
    color: #c8e6ed;
    font-size: 23px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fcfcfc;
    transition: .3s ease;

}
#navbar li a:hover,
#navbar li a.active{
    color: #17f2f5;


}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: " ";
    width: 30%;
    height: 2px;
    background: #17f2f5;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*home page*/
#hero{
    background-image: url('img/hero8.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 25px;
}
#hero h1{
    color: #e95a93;
}
#hero p{
    color: #000000;
    font-weight: 500;
}
#hero button{
    background-image: url('img/button.png');
    background-color: transparent;
    color: #1a1a1a;
    border: 0;
    padding: 14px 80px 14px 65px  ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.111);
    border: 1px solid #222;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.488);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding:9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    background-color: rgba(222, 207, 153, 0.928);
}
#product1{
    text-align: center;
    
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.147) ;
    margin: 15px 0;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.268) ;
}
#product1 .pro img{
    width:100% ;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #222;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 16px;
    color: #ecd62b;

}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    color: #465b52;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: aliceblue;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/banner/f1.jpeg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

}
#banner h2 span{
    color: #da1b27;
}
#banner button:hover{
    background: #d0666d;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
    
    
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-image: url('img/banner/b17.jpg');
    min-width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
    

}
#sm-banner .banner-box2{
    background-image: url('img/banner/b10.jpg');
}
#sm-banner .banner-box:hover button{
    background: #000000;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-image: url('img/banner/b7.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}
#banner3 .banner-box2{
    background-image: url('img/banner/b4.jpg');
}
#banner3 .banner-box3{
    background-image: url('img/banner/b18.jpg');
}
#banner3 h1{
    color: #ffffff;
    font-weight: 800;
    font-size: 45px;

}
#banner3 h3{
    color: #d0666d;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/banner/b2.jpg');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size:30px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p{
    font-size:14px;
    font-weight: 700;
    color: #ffffffb1;
}
#newsletter p span{
    font-size:14px;
    font-weight: 700;
    color: #df4ea0f6;
}
#newsletter input{
    height: 3.125rem;
    padding:0 1.25em ;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 50%;
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer a{
    font-size: 18px;
    text-decoration: none;
    color: #2f2d2f;
    margin-bottom: 10px;
}
/*shop page*/
#page-header{
    background-image: url('img/banner/b19.jpg');
    width: 100%;
    height:40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: #fff;


}
#pagination {
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #cce7d0;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/*single product*/
#prodetials{
    display: flex;
    margin-top: 20px;
}
#prodetials .singleproimg{
    width: 50%;
    margin-right: 50px;

}
.smallimggroup{
    display: flex;
    justify-content: space-around;
}
.smallimgcol{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetials .single-pro-detials{
    width: 50%;
    padding-top: 30px;


}
#prodetials .single-pro-detials h4{
    padding:5px 0 20px 0 ;
}
#prodetials .single-pro-detials h2{
    padding:26px;
}
#prodetials .single-pro-detials select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#prodetials .single-pro-detials input{
    width: 50px;
    height: 47px;
    padding-left:10px ;
    font-size: 16px;
    margin-right: 10px;
}
#prodetials .single-pro-detials input:focus{
    outline: none;
}
#prodetials .single-pro-detials button:hover{
    background: #424142d4;

}
#prodetials .single-pro-detials span{
    line-height: 25px;
}
#page-header.cart-header{
    background-image: url('img/banner/b16.jpg');
}
#page-header.cart-header h2{
    color: #000000;
}
#page-header.cart-header p{
    color: #000000;
}

/*cart page*/
#cart table{
    width: 100%;
    border-collapse: collapse ;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;

}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width:70px ;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid#000000;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px;
}
#cart table tbody tr td {
    padding-top: 15px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px ;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #000000;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #000000;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100% ;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 13px;
}